@font-face {
  font-family: "Zrnic Cyr";
  src: url("../../public/fonts/ZrnicCyr-Normal.woff2") format("woff2"), url("../../public/fonts/ZrnicCyr-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
