@font-face {
  font-family: "Zrnic Cyr";
  src: url(../fonts/zrniccyr_normal.ttf);
}

@import "./variables.scss";

.header {
  margin-bottom: 21px;

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Zrnic Cyr";
    font-size: clamp(1.5rem, 0.5rem + 5vw, 5rem);
    font-weight: 400;
    line-height: normal;

    &--big {
      font-size: clamp(5.625rem, 2.768rem + 14.29vw, 15.625rem);
    }
  }

  &__logo {
    width: clamp(7.625rem, 7.237rem + 1.94vw, 9.563rem);
    height: clamp(5.688rem, 5.388rem + 1.5vw, 7.188rem);
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
  }

  &__items {
    display: flex;
    gap: 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__item:last-child {
    position: relative;
  }

  &__items--dropdown {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    padding: 16px 20px;
    width: 330px;
    gap: 20px;
    border-radius: 20px;
    background: rgba(239, 239, 239, 0.6);
    backdrop-filter: blur(15px);
    z-index: 10;
  }

  &__item--inner {
    display: flex;

    .header__link {
      display: flex;
      gap: 14px;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: 1px solid #000000;
      border-radius: 100%;
    }
  }

  &__arrow {
    width: 100%;
    height: 100%;
    path {
      stroke: $color-primary;
      stroke-width: 1px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 100%;
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__person-icon {
    width: 80%;
    height: 80%;
  }
}

@media (hover: hover) {
  .header__link:hover {
    color: $color-elements;
  }

  .header__item--trigger:hover {
    color: $color-elements;
  }

  .header__link:hover div {
    border-color: $color-elements;

    path {
      stroke: $color-elements;
    }
  }

  .header__profile:hover {
    border-color: $color-elements;

    .header__person-icon {
      stroke: $color-elements;
    }
  }
}

// @media (max-width: 992px) {
//   .header__items {
//     display: none;
//   }

//   .header__controls {
//     width: 100%;
//     justify-content: space-between;
//   }
// }
