@import "../styles/variables.scss";

.header-mobile {
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.5px);

  opacity: 0;
  transform: translateY(-10%);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &--visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    gap: 40px;
    background: rgba(253, 254, 255, 0.8);
    backdrop-filter: blur(15px);
    width: calc(100% - 200px);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-size: 22.854px;
    font-weight: 600;
    color: $color-elements;
    letter-spacing: 1.828px;
    text-transform: uppercase;
    width: 155px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    font-size: 18px;
  }

  &__items,
  &__subitems {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__subitems {
    padding-left: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
