@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@import "./variables.scss";

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", sans-serif;
  background: $color-secondary;
  color: $color-primary;
  line-height: normal;
}

img {
  width: 100%;
  height: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

main {
  padding-bottom: 30px;
}

button {
  cursor: pointer;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media (hover: hover) {
  .button:hover {
    opacity: 0.8;
  }
}
