@import "./mixins.scss";
@import "./variables.scss";

.promo-panel {
  @include flex-center;
  height: 60px;
  border-bottom: 0.5px solid rgba(6, 6, 6, 0.5);
  background: rgba(51, 157, 255, 0.6);

  &__inner {
    @include flex-center;
    gap: 28px;
    color: $color-secondary;
    font-size: clamp(0.75rem, 0.602rem + 0.74vw, 1.25rem);
    font-weight: 700;
    line-height: normal;
  }

  &__link {
    display: flex;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
  }
}

@media (hover: hover) {
  .promo-panel__link:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 1024px) {
  .promo-panel {
    height: 40px;
  }
}

@media (max-width: 460px) {
  .promo-panel__inner {
    gap: 5px;
  }

  .promo-panel__timer {
    display: none;
  }
}
