@import "../styles/variables.scss";

.button {
  font-family: inherit;
  font-size: clamp(0.75rem, 0.482rem + 1.34vw, 1.125rem);
  width: 170px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 60px;
  background: $color-elements;
  color: $color-secondary;
  font-weight: 400;

  &--secondary {
    color: $color-primary;
    background: transparent;
    border: 1px solid $color-primary;
  }
}
