@import "../styles/variables.scss";

.button {
  width: 170px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 60px;
  background: $color-elements;
  color: $color-secondary;
  font-size: 20px;
  font-weight: 400;
}
